@tailwind base;
@tailwind components;
@tailwind utilities;

.popover-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 11.5px 14px !important;
}

.recharts-responsive-container > div > svg{
    position: relative;
    left: -20px;
}